node_modules
static
local
**.env

coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

**/31337
**/1337
**/undefined

**package-lock.json
**.code-workspace
**.DS_Store
**yarn.lock
**yarn-error.log
